﻿.dropdown-item:focus,
.dropdown-item:hover {
    background-color: orange !important;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content {
    flex: 1 1 auto;
}
.a:focus,
.a:hover {
    background-color: #ffc107 !important; /* Более яркий оттенок оранжевого */
}
.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.sms-1{
    margin-left: 10px !important;
}
.jce {
    justify-content: end;
}

.jcs {
    justify-content: start;
}

.font-for-headers {
    font-family: Vollda !important;
}
/* Файл стилей для изменения цвета границы */

.my-custom-container .form-control:focus,
.my-custom-container .form-control:active {
    outline: auto !important; /* Скрываем default-outline */
    box-shadow: none !important;
    outline-color: orange !important; /* Сохраняем цвет при фокусе */
}
.my-custom-container .special-label {
    color: #616161;
    font-family: Vollda !important; /* Изменяем цвет текста специальной метки */
}
.w-200{
    width: 200px !important
}
.mobile-fio {
    display: none !important;
}

.mobile-fio-disabled {
    display: block !important;
}

@media (max-width:992px) {
    .mobile-button {
        margin-top: 12px !important;
    }
    .sms-1 {
        margin-left: 0px !important;
        margin-top: 10px !important;
    }
    .mobile-fio {
        display: block !important;
    }

    .mobile-fio-disabled {
        display: none !important;
    }

    .jce {
        justify-content: start;
    }

    .jcs {
        justify-content: end;
    }
}
